<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Bootstrap 4.5.2 -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-Moe06Z+ny0Y5eGpS2SmzImM1liKZmvfy1MLAHLcZQZ8g7VJpL7wj4J5mE6D3+ocK"
    crossorigin="anonymous"
  />

  <!-- Font Awesome 5.15.4 -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-dyZtbbXEV6Z1yx9Ls5G58O1tp5u8BZqGoPb9Zr7uNBDW3hGyzq8fS49X8CmqbJo+H7XgtVO6LQczYyx8E+9fwA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/styles.css" />

  <title>Secrets</title>
</head>
    