<%- include('partials/header') %>

<div class="secrets-container">
  <i class="fas fa-key"></i>
  <h1>You've Discovered My Secret!</h1>
  <p class="secret-text">I have a crush on Shraddha Kapoor </p>
  
  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
</div>

<%- include('partials/footer') %>
